<section class="documentation-section{{#unless side-notes}} full{{/unless}}">
  <header>
    <h3 id="{{#if id}}{{id}}{{else}}{{slugify title}}{{/if}}">{{title}}</h3>
  </header>
  <div class="content">
    {{#with example-chart}}
      <div id="{{id}}" class="{{classes}}" data-chartist-example="{{type}}"></div>
    {{/with}}

    {{#if text}}
      <p>{{text}}</p>
    {{/if}}

    {{! Allowing one nesting level with different heading size so sub-sections.sub-sections is possible }}
    {{#each sub-sections}}
      <h4 id="{{#if id}}{{id}}{{else}}{{slugify title}}{{/if}}">{{title}}</h4>
      <p>{{text}}</p>

      {{#each hints}}
        {{> hint}}
      {{/each}}

      {{#each sub-sections}}
        <h5 id="{{#if id}}{{id}}{{else}}{{slugify title}}{{/if}}">{{title}}</h5>
        <p>{{text}}</p>

        {{#each hints}}
          {{> hint}}
        {{/each}}
      {{/each}}
    {{/each}}

    {{#each hints}}
      {{> hint}}
    {{/each}}

    {{#if snippet}}
      {{> code-snippet snippet}}
    {{/if}}

  </div>

  {{#if side-notes}}
    <aside class="side-notes">
      <p>{{side-notes}}</p>
    </aside>
  {{/if}}
</section>