{{#if button}}<button class="button" data-toggle-visible="#{{id}}">{{button}}</button>{{/if}}
{{! if path is there then we load the file and escape in path otherwise we lookup a file called id.lang (index.html,
    test.js etc.) }}
<pre id="{{id}}"><code class="{{lang}}">{{#if path}}{{glob path}}{{else}}{{glob (snippetPath id lang)}}{{/if}}</code></pre>