<div id="{{id}}" class="ct-chart{{#if classes}} {{classes}}{{/if}}" data-example="{{exampleCode id}}"></div>
{{#if show-code-button}}
  <button class="button" data-toggle-visible="#{{id}}-code">{{show-code-button}}</button>
  <pre id="{{id}}-code"><code class="js">{{atob (exampleCode id)}}</code></pre>
{{/if}}