<table class="brwsrsup">
  <thead>
  <tr>
    <td></td>
    {{#each browsers}}
      <th class="brwsrsup__browser">{{this}}</th>
    {{/each}}
  </tr>
  </thead>
  <tbody>
  {{#each features}}
    <tr>
      <th class="brwsrsup__feature">{{name}}</th>
      {{#each browsers}}
      <td data-browser="{{name}}" class="brwsrsup__support brwsrsup__support--{{status}}">
        <span class="brwsrsup__visually-hidden">{{text}}</span>
      </td>
      {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>