<section class="live-example"{{#if id}} id="{{id}}"{{/if}}
         data-live-example="{{exampleCode id}}">
  {{#if title}}
    <header class="live-example-header">
      <h{{level}}>{{title}}</h{{level}}>
    </header>
  {{/if}}
  <div class="chart">
    <div class="ct-chart{{#if classes}} {{classes}}{{/if}}"></div>
  </div>
  <aside class="live-code">
    <div class="introduction">
      <p class="text">{{{intro}}}</p>
      <button class="edit-button">Edit Example</button>
    </div>
    <div class="editor-area">
      <textarea class="code-editor"></textarea>
      <button class="close-edit-button">Close Editor</button>
    </div>
  </aside>
</section>
