<aside class="side-navigation">
  <nav>
    <ul class="side-nav">
      {{#each page.sections}}
        <li class="heading">{{title}}</li>
        {{#each items}}
          {{#is type 'sub-section'}}
            <li><a class="text-clipping" href="#{{#if id}}{{id}}{{else}}{{slugify data.title}}{{/if}}">{{data.title}}</a></li>
          {{/is}}

          {{#is type 'live-example'}}
            <li><a class="text-clipping" href="#{{#if data.id}}{{data.id}}{{else}}{{slugify data.title}}{{/if}}">{{data.title}}</a></li>
          {{/is}}
        {{/each}}
      {{/each}}
    </ul>
  </nav>
</aside>
